<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="BeverageMonitor" providerName="System.Data.SqlClient" connectionString="server=.\SQL2012;Integrated Security=true;database=RenAix;"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
