<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UtilityFramework.Properties.Settings.SqlConnection"
            connectionString="Server=BVLDBD77;Database=WSP;Trusted_Connection=True;Connection Timeout=1200" />
        <add name="UtilityFramework.Properties.Settings.TDConnection"
            connectionString="PROD" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>