<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="RenAix" providerName="System.Data.SqlClient" connectionString="Server=tcp:jaxispos.database.windows.net,1433;Database=JaxPosData;User ID=bret_cline@jaxispos;Password=X10Rocket!;Encrypt=True;TrustServerCertificate=False;Connection Timeout=120;"/>

    <!--
    <add name="RenAix" providerName="System.Data.SqlClient" connectionString="server=.\SQL2012;Integrated Security=true;database=RenAix;" />

<add name="RenAix" providerName="System.Data.SqlClient" connectionString="server=posdata.ctmavvxlr2ap.eu-central-1.rds.amazonaws.com;User ID=RenAixData;Password=Ren@ix!#!;database=RenAix;" />
    -->
  </connectionStrings>
  <appSettings>
    <add key="ConfigFile" value="C:\Source\Renaissance\DataLoader\DataLoader\ParserConfig.xml"/>
    <add key="JournalPath" value="c:\temp\renaix\Micros Journals"/>
  </appSettings>

  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message %newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message %newline"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="DataLoader.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10000KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="TraceAppender"/>
      <appender-ref ref="RollingFile"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

</configuration>
