<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DataPath" value="C:\temp\RenAix\UploadData\"/>
    <add key="CustomerID" value="5AAFE8B1-F157-47E4-9DCF-73180D5C5C08"/>
  </appSettings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="httpEndpoint" closeTimeout="00:05:00" sendTimeout="00:05:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/DataLoaderWCF/DataLoaderWCF/"
                binding="basicHttpBinding" bindingConfiguration="httpEndpoint"
                contract="svcDataLoaderWCF.IDataLoaderWCF" name="httpDataLoader" />
        </client>
    </system.serviceModel>
</configuration>
